<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Настройки</title>
</head>
<body>
    <h1>Настройки</h1>
    <form class="settings" method="post">
        <label>Количество ошибок</label>
        <input type="number" id="limit_error" name="limit_error"/>
        <label>Время задержки</label>
        <input type="number" id="timeout" name="timeout"/>
        <button type="submit" class="generate-btn">Сохранить настройки</button>
    </form>
</body>
</html>